# MRP resources
mtool/
**/*.tgz*
**/*.png
**/*.dot
**/*.jsonl

# Keep test fixtures data
!src/tests/fixtures/*


# ipython notebook cache
.ipynb_checkpoints/

# vscode config
.vscode/

# python cache
**/__pycache__/

# allennlp library
src/mrp_library/
